*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face {
    font-family: myfont;
    src: url();
}
body{
    margin:auto;
    padding: auto;    
    font-family: 'Roboto',Arial,sans-serif;
    background-color:rgb(2 2 0);
    
}
.notifi{
    padding:1%;
    background: linear-gradient(0deg, rgba(112,253,29,0.6867121848739496) 0%, rgba(112,253,29,0.6923144257703081) 50%, rgba(112,253,29,0.6867121848739496) 100%);
    position:fixed;
    left:50%;
    color:green;
    z-index:30;
    transform: translateX(-50%);
    top:-20%;
    transition:top 0.5s;
}

.shop{
    position: fixed;
    z-index:20;
    bottom:0%;
    right:3%;
    padding:1%;
    background-color:#120a26;
    border-radius:50%;
}
 /* Thông tin giỏ hàng */
.product-shop{
    width:0%;
    border-radius:5px;
   overflow: scroll;
   bottom:5%;
   right:5%;
   position:fixed;
   transition:  0.5s  ;
   z-index:20;
    background-color:white;
}

 .product-add{
            display:flex;
            
            margin:2%;
            border-bottom:1px solid #ccc;
            flex-wrap: wrap;
            align-items: center;
        }
        .img-add{
            width: 30%;
        }
        .content-add span{
            font-size:15px;
        }
        .content-add{
            margin:0% 5%;
            width:40%;
        }
        .content-add p{
            font-size:15px;
            color:tomato;
        }
        .sl-add p, .delete i{
            color:#ccc;
            font-size:15px;
        }
        .delete i:hover{
            color:red;
            cursor: pointer;
        }
        .sl-add{
            padding: 0% 13% 0% 3%; 
            width:0;
        }

.title-add{
    display:flex;
    border-bottom:1px solid black;

}
.title-add h3{
    padding:3% 0% 1% 3%;
}
.title-add i{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size:20px;
    cursor: pointer;
}
.add-cost p{
    margin:5% 0% 5% 50%;
}
.add-cost button{
    width:30%;
float:right;
}
.shop{display:block;}
.shop>i{
    font-size:30px;
    color:#fd1d1d;
}
header{
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
    background-image:url('../bgr-music/keyboard.jpg');
    background-repeat: no-repeat;
}
    header .bgr-img{
        background-color:#120a26;
        opacity:0.5;
        position: relative;
        width: 100% ;
    
        padding-top:50%;
    }
        nav{position:absolute;
            width: 100%;
            display:flex;
            padding:1% 5%;
            top:0}
        nav h2{color:#f5f8fb;
            font-size: 40px;}
            nav .add{
            font-size: 30px;
            color: white;
            right: 3%;
            position: absolute;
            top: 39%;
            }
        .menu,
        nav .add
        {display:none;}

        /* TÌm kiếm */
             .search{margin:1% 3%;
            color:#120a26}
             .search i {position:absolute;
            border-radius:50%;
            background-color:#f5f8fb;
            padding:0.5%;
            }
            .search input[type="search"]{
                border-radius: 10px;
                outline:none;
                width:0;
                border:none;
                background-color:#f5f8fb;
                padding:3%;
                padding-left:10%;
            }
            nav .search:hover input[type="search"]{
                animation:mySearch;
                width:300px;
                animation-duration: 1s;
            }
            @keyframes mySearch {
                0%{
                    padding-left:10%;
                    padding:3%;
                    width:0;} 
                50%{
                padding-left:10%;
                padding:3%;
                width:150px;}
               
                100%{
                padding-left:10%;
                padding:3%;
                width:300px;}
            }

            nav ul{
                list-style-type: none;
                display:flex;
                position: absolute;                
                right:0;
                margin:1.5% 10%;
            }
           nav ul li{margin:0 20px;}
            nav ul li a{
                font-size: 18px;
                text-decoration: none;
                opacity:0.7;
                color:#f5f8fb;
                /* border-bottom:1px solid #f5f8fb; */
                
            }
             nav ul  .active a{
                opacity: 1;
            }
            nav ul li a:hover{
                opacity: 1;
            }
            .border-bottom{
                border-bottom:1px solid #f5f8fb;
                position:absolute;
                bottom:-3px;
                /* animation: myanimate;
                animation-duration: 3s; */
                width:0;
                left:0;
                transition: all 0.2s ease;

            }
            /* }
            @keyframes myanimate {
                0%{width:0%;}
                50%{width:50%;}
                100%{width:100%;}

            } */
            .introduce{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                color:#f5f8fb;
                text-align: center;
            }
            .introduce h1{font-size:40px;
                animation: textAnimation;
                animation-duration: 3s;    
                }
                @keyframes textAnimation{
                    0%{opacity:0.1; margin-left:-100%;}
                    100%{margin-left:0%;}
                }
            .introduce p{font-size: 15px;
                margin-bottom: 5px;
                animation:textAnimate;
                animation-duration:5s;
            letter-spacing: 1px;}
            
            @keyframes textAnimate{
                0%{opacity:0.1; margin-bottom:-50%;}
                100%{margin-bottom:0%;}
            }

/* Section */
section{
    margin:0% 3%;
    background-color:#ebebeb;
    padding:2%;
}
    /* Hàng mới về */
    .title-content{position: relative; }    
        .title{padding:10px;
        border-radius: 20px;
        position: relative;
        z-index:5;
        width:16.5%;
        background:#ebebeb;
        border: 1px solid #ccc;}
        .title hr{
    left: 100%;
    top: 55%;
    width: 500%;
    position: absolute;
        }
        a{
            text-decoration:none;
            color:#f5f8fb;
        }
            
    .title-content>hr{
        position:absolute;
        top:4.5%;
    }
    
    .title-content h2{text-align: center;}
        /* Show ra từng sản phẩm */
        .content{
            margin:1% 0%;
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;   
            overflow:hidden;
        }
        /* Nút btn left và right */
        .btn-slide{   
            position: absolute;
            width: 3%;
            right: 0%;
            top: 1.5%;}
        .back-btn{
            position: absolute;
            background-color: #ebebeb;
            border-radius: 33%;
            padding: 3% 24%;
            right: 78%;

        }
        .next-btn{        
            position: absolute;
            right: 0%;
            background-color: #ebebeb;
            border-radius: 33%;
            padding: 3% 24%;
        }
        
        .back-btn>i,.next-btn>i{font-size:30px;
            color:black;
            cursor: pointer;
            font-weight: bold;}
        .back-btn:hover i, .next-btn:hover i{
            color:white;}
            /* ------------ */
            /* thông tin sản phẩm */
        .product-id{padding:0.5%;
            display:flex;
            margin:1% 0%;
            flex-direction:column;
            justify-content: center;
            cursor: pointer;
        }
        .new-product,
        .hot-product,
        .special-product,
        .sale-product{overflow: hidden;
            transition: transform 0.3s linear;
        }
        .new,.top-hot,.special,.sale{overflow: hidden;}
       
            img{width:100%;
                height: 100%;
               }
                .product-id>div{
                    margin-bottom:5%;
                }
               .name-product h4{font-size:20px;}
               .name-product:hover h4{color:rgb(202, 45, 45)}

                .cost-product>p{font-size:18px;
                text-align: center;
            color:tomato;}
            del{color:black;
            font-size:12px;
        padding-left:3%}
                span{
                    font-weight: bold;
                    font-size:20px;
                }
                button{
                    width:100%;
                    padding:4%;
                    font-size:15px;
                    margin:0 auto;
                    bottom:0;
                    outline:none;
                    background-color:#fd1d1d;
                    border:none;
                    font-weight:bold;
                    border:1px solid #ccc;
                    border-radius:5px;
                    cursor: pointer;
                }
                button:hover{
                    background: linear-gradient(0deg, rgba(18,10,38,1) 13%, rgba(253,29,29,1) 100%, rgba(255,0,0,1) 100%);
                    font-weight:bold;
                    color:#f5f8fb;
                }
        .product-id:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        /* pagination */
        .pagination{
            
            margin:0px auto;
        }
        .pagination ul{
            list-style-type:none;
            display:flex;
            justify-content: center;
        }
        .pagination ul li{
            padding:0.8%;
        }
        .pagination ul li a{
            
            text-decoration: none;
            color:rgb(59, 67, 172);
        }
        .pagination ul li:hover a {
            color:#120a26;
            cursor: pointer;
        }
        .active{visibility: visible;}

/* footer */
        footer{
            width:100%;
            height:initial;
            background-color:#070214;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
    color:#f5f8fb;
            
        }
        footer>h2{
            font-size:30px;
            padding:2%;
            text-align:center;
        }
        .content-footer{
            display:flex;
            flex-direction: row;
        }
        .content-sp{
            display:flex;
        }
        .support{
            width:50%;
            margin:2% 5%;
        }
            .support-title{
                margin-bottom:10%;
            }
            .support-title>h3{
                margin-bottom:2%;
            }
            .content-ft ul{
                list-style-type:none;
            }
            .sp ul li{
                padding:2%;
                text-align: justify;
                border-bottom:1px solid #b0b1b3
            }
            .content-ft ul li a{
                text-decoration: none;
                color:#ccc;
            }
            .sp ul li:hover a{
                color:tomato
            }
            .gt ul li{
                padding:2%;
                text-align: justify; 
            }
            .dd>img{
                    width:100%;
            }
           
    footer>p{
        font-size:15px;
        font-family:cursive;
    }
    span{font-size:20px;}

    
/* SHOP------------------------------- */
.bgr-nav{
    border-bottom:1px solid #ebebeb;    height: 100px;
    background-color:#120a26;
}
.header-shop{
    margin-bottom:1%;
    position: sticky;
    top:0;
    z-index:21;
}


/* Section-shop----------------------------- */ 


.border >hr{
    position:absolute;
}
.product-all,.product-keycaps{
    width:25%;
    padding:1%;
}





/* INFOMATION_SHOP ----------------------*/
    /*section*/
    .name-product{
        margin-bottom:2%;
    }
    .name-product p{
        font-size:25px;
        padding-bottom:1%;
        font-weight: bold;
    }
    .info-product{
        display:flex;
        margin:1%
    }
        .info-product .img-product
        {
            width: 50%; 
        }
        /* Zoom hinh anh */
       .img-product img{
           height: 80%;
       }
        .info-product .cost-more{
            margin-left:2%;
            width: 50%;
        }
         .cost-more .cost h3 {
            font-size: 30px;
            color:red;
            margin-bottom: 3%;
        }
        .more-product{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
         .more-product .product{
             
            width:45%;
            background-color:#dad9d9;
            border-radius:10px;
            padding:2%;
            margin: 2% 1% 0% 1%;
            text-align: justify;
        }
        .more-product .product:hover{
            background-color:rgb(186 180 180);
            cursor: pointer;
        }
        .click{
            background-color: #ebebeb;
            border:red;
        }
        .amount{
            margin-left:1%;
            background-color:#fff;
            width:15%;
            padding: 1%;
            text-align: center;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        #amount{margin-top:5%;
            margin-left:1%;
        }
        .amount input[type="text"]{
            text-align: center;
            padding: 1%;
            font-size:17px;
            width:50%;
            border:none;
            outline: none;
        }
        .amount i{
            font-size: 15px;
            cursor: pointer;
        }
        .remove{
            color:#ccc
        }
    /* ------- Các ưu đãi khi mua hàng ------------- */
        .endow{
            display:flex;
        }
        .guarantee,.ship{
            margin:2% 0%;
            text-align: center;
            padding:1%;
            position: relative;
            width:50%;
        }
        fieldset{
            border:1px solid green;
            padding:1%;
        }
            .guarantee p:first-child,.ship p:first-child{
                font-weight: bold;
                margin:1%;
            }
            .guarantee p:last-child,.ship p:last-child{
                font-size:14px;
            }
                .guarantee i,.ship i{
                    position:absolute;
                    top:0;
                    right:0;
                    color:green
                }
        .info-product button{
            width:35%;
        }